<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClickthroughImages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClickthroughImages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClickthroughImages.Properties.Settings>
            <setting name="ImagesSearchPattern" serializeAs="String">
                <value>*.jpg</value>
            </setting>
        </ClickthroughImages.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ClickthroughImages.Properties.Settings>
            <setting name="LastSourceDirectory" serializeAs="String">
              <value></value>
            </setting>
            <setting name="LastDestinationdirectory" serializeAs="String">
              <value></value>
            </setting>
        </ClickthroughImages.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
